# COMMON
# endpoint to fetch public key for jwt verification

PUBLIC_JWT_URL=http://auth-service:8081/api/internal/auth/.well-known/jwks.json


# --- GATEWAY ---

GATEWAY_PORT=
AUTH_SERVICE_URL=
PRODUCT_SERVICE_URL=
ORDER_SERVICE_URL=
INVENTORY_SERVICE_URL=
# frontend url
ALLOWED_ORIGINS= 
# set to true to fetch all secrets from aws parameterstore instead of environment variables. Make sure to set up IAM permissions and AWS credentials if using parameter store.
PARAMETERSTORE_ENABLED=false
# --- AUTH ---
AUTH_PORT=
AUTH_DB_URL=
AUTH_DB_USER=
AUTH_DB_PASS=
AUTH_JWT_PRIVATE_KEY=
AUTH_JWT_PUBLIC_KEY=
# JWT expiration time in minutes
AUTH_JWT_EXP_MIN=
# JWT refresh token expiration time in seconds
AUTH_REFRESH_EXP=
AUTH_COOKIE_SAMESITE=
AUTH_COOKIE_SECURE=
AUTH_DDL=

# --- ORDERS ---
ORDERS_PORT=
ORDERS_DB_URL=
ORDERS_DB_USER=
ORDERS_DB_PASS=
ORDERS_DDL=
# Register at stripe to get API key to create checkout sessions
STRIPE_API_KEY=
# url for frontend to redirect after successful payment, with query param for session id, e.g. http://localhost:5173/success?session_id=
STRIPE_SUCCESS_URL=
# url for frontend to redirect after cancelled payment, e.g. http://localhost:5173/cancel
STRIPE_CANCEL_URL=
# name of SQS queue for order paid events
ORDERS_ORDER_PAID_SQS=
# name of SQS queue for reservation confirmation events
CONFIRM_RESERVATION_SQS=

# authentication against AWS for SQS access. Use either access keys or IAM roles
ORDERS_AWS_ACCESS_KEY_ID=
ORDERS_AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# --- PRODUCTS ---
PRODUCTS_PORT=
PRODUCTS_DB_URL=
PRODUCTS_DB_USER=
PRODUCTS_DB_PASS=
PRODUCTS_DDL=
# cron expression for syncing products from external API, e.g. every day at midnight: 0 0 0 * * *
PRODUCT_SYNC_CRON=

# --- INVENTORY ---
INVENTORY_PORT=
INVENTORY_DB_URL=
INVENTORY_DB_USER=
INVENTORY_DB_PASS=
# access keys for sqs. Use either access keys or IAM roles. NOTE shares queue with orders service for reservation confirmation events
INV_AWS_ACCESS_KEY_ID=
INV_AWS_SECRET_ACCESS_KEY=
INV_PORT=





